<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application>
        <provider
            android:name=".DBInitProvider"
            android:authorities="${applicationId}.dbInitProvider"
            android:enabled="true"
            android:exported="false"
            android:initOrder="1000"/>

        <service
            android:name=".SignatureService"
            android:process=":signature"
            android:exported="true">
            <intent-filter>
                <action android:name="com.huawei.signature.diff"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
    </application>

</manifest>